<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFootballApplication"
        tools:targetApi="31">
        <activity
            android:name=".staff.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".staff.stafffragments.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".staff.stafffragments.CustomDialogFragment"
            android:exported="false" />
        <activity
            android:name=".staff.StaffCheckingMainActivity"
            android:exported="false" />
        <activity
            android:name=".guest.stadiumutil.PaymentMainActivity"
            android:exported="false" />
        <activity
            android:name=".guest.stadiumutil.BookingMainActivity"
            android:exported="false" />
        <activity
            android:name=".guest.stadiumutil.CalenderMainActivity"
            android:exported="false" />
        <activity
            android:name=".guest.GuestAccountMainActivity"
            android:exported="false" />
        <activity
            android:name=".guest.StadiumMainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainStaffActivity"
            android:exported="false" />
        <activity
            android:name=".MainSystemActivity"
            android:exported="false" />
        <activity
            android:name=".LoginMainActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guest.MainActivity"
            android:exported="true" />
    </application>

</manifest>